<!doctype html>
<title>Origin Game</title>


<center>
<h1>Leaderboard</h1>


<table border="1" style="width:100%">
  <tr>
    <td> 1. </td>
    <td>{{username1}}</td>
    <td>{{points1}}</td>
  </tr>
  <tr>
    <td> 2. </td>
    <td>{{username2}}</td> 
    <td>{{points2}}</td>
  </tr>
  <tr>
    <td> 3. </td>
    <td>{{username3}}</td> 
    <td>{{points3}}</td>
  </tr>
</table>


<form action="/index"> <input type="submit" value="Go back"> </form> 
<form action="/logout"> <input type="submit" value="Log out"> </form> 

</center>

